= simple_form_for(@workout, html: { class:"form-horizontal", role: "form"}) do |f|
  =f.input :date, label: "Date"
  =f.input :workout, label: "What body part(s) did you workout?", input_html: { class: "form-control" }
  =f.input :mood, label: "How was your mood during the workout", input_html: { class: "form-control" }
  =f.input :length, label: "How long did you workout?", input_html: { class: "form-control" }
  %br
  =f.submit